<h3> Hello, <%= @user.username %> </h3>

<p>Add a new dream <a href='/dreams/new'>here</a></p>

<h2>Dreams</h2>

<ul>
<% Dream.all.each do |dream| %>
    <li> <%= dream.date.strftime("%b %d, %Y") %>: <a href='/dreams/<%=dream.id%>'> <%= dream.story %> </a>  <p>--Author: <a href='/users/<%=dream.user.slug%>'><%= dream.user.username %></a></p></li>
    <br>
<% end %>
</ul>
<p><a href='/logout'>Log Out</a></p>
