<h1>Edit Dream </h1>

<p> <%= @dream.content %> </p>


<form method="post" action='/dreams/<%= @dream.id %>'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  Date: <input type="text" name="date" value="mm/dd/yyyy"id="date"><br><br>
  Description: <br><br>
  <textarea name="story" rows="10" cols="50"></textarea><br><br>
  Choose a theme:
  <%@themes.each do |theme|%>
      <input type="checkbox" name="dream[theme_ids][]" value="<%=theme.id%>" id="<%=theme.id%>"<%='checked' if @dream.themes.include?(theme) %>>><%=theme.name%></input>
  <%end%>
<br></br>
and/or, create a new theme:<br></br>
  <input  type="text" name="theme[name]"></input>
    <br></br>
  <input type="submit" value="Edit Dream" id="submit">
</form>
