<h3>Edit Dream </h3>

<form method="post" action='/dreams/<%= @dream.id %>'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  Edit date: <input type="text" name="dream[date]" value='<%=@dream.date.strftime("%m/%d/%Y")%>'id="date"><br><br>
  Edit story: <br><br>
  <textarea name="dream[story]" rows="10" cols="50"><%= @dream.story %></textarea><br><br>
  Change themes:
  <%@dream.themes.each do |theme|%>
      <input type="checkbox" name="dream[theme_ids][]" value="<%=theme.id%>" id="<%=theme.id%>"<%='checked' if @dream.themes.include?(theme) %>><%=theme.name%></input>
  <%end%>
<br></br>
and/or, create a new theme:<br></br>
  <input  type="text" name="theme[name]"></input>
    <br></br>
  <input type="submit" value="Update Dream" id="submit">
</form>
