
<h3> <%= @dream.date %> </h3>
<h3> Dream Story: </h3>
<%= @dream.story %>
<h3> Themes </h3>
<ul>
    <% @dream.themes.each do |theme| %>
        <li> <%=  theme.name %> </li>
    <%  end %>
</ul>

<a href='/dreams/<%= @dream.id%>/edit'>Edit Dream</a>

<br></br>

<form method="post" action="/dreams/<%= @dream.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Dream">
</form>

<!-- .strftime("%b %d, %Y") -->
